:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 25px;
  width: 350px;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  margin: 0px 15px;
  color: #000000;
}

.btn {
  width: 300px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin: 20px 0;
  cursor: pointer;
}

.btn span {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}

.input-item {
  margin: 10px 0;
}

label {
  color: rgb(0, 0, 0);
  margin: 10px 0;
  display: block;
}

input {
  display: block;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 4px;
  height: 55px;
  width: 300px;
  color: rgb(0, 0, 0);
  padding: 0 0 0 11px;
  box-sizing: border-box;
  font-weight: 600;
}

.correo_submit {
  background-color: #43efb1;
}

.correo_submit span {
  color: black;
  font-size: 14px;
}

.leyenda {
  color: #7e7e7e;
  text-align: center;
  margin-bottom: 18px;
}

.link {
  color: #ffffff;
  text-decoration: underline #ffffff;
  margin-bottom: 18px;
  cursor: pointer;
}
